treefile = Musaxi_captus_A12128_dropped.tre
outfile = Psitta_Musaxi_captus_A12128_dropped.tre


smooth = 1000

numsites = 1559815

mrca = PSITTACOPASSERIA Aratinga_L38084 Tyranus_tyrnus_L3328
min = PSITTACOPASSERIA 59.9
max = PSITTACOPASSERIA 59.9

mrca = EUPASSERES Passer_L52749 Tyranus_tyrnus_L3328
min = EUPASSERES 32
max = EUPASSERES 47.25

mrca = CERTHIOIDEA Sitta_L30550 Certhia_L64261
min = CERTHIOIDEA 19.25
max = CERTHIOIDEA 52.25

mrca = PASSEROIDEA Passer_L52749 Passarella_L30382
min = PASSEROIDEA 21.2
max = PASSEROIDEA 38.6

thorough

opt = 1
moredetail
optad = 1
moredetailad
optcvad = 1
moredetailcvad

